@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;0,700;1,700&family=Lato:wght@400;700&display=swap');

/* Helpers */

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.text-green {
  color: #3FA14F;
}

.text-yellow {
  color: #C3C71E;
}

/* Components */

.App {
  min-height: 600px;
  height: 100vh;
}

.NavBar {
  background: #171717;
  flex: 0 0;
}

.NavBar-logo {
  vertical-align: middle;
  padding: 0.9rem 2rem;
  font-size: 48px;
  font-family: Army, sans-serif;
}

.NavBar-notice {
  text-transform: uppercase;
  color: #C4C4C4;
  font-size: 22px;
}

.App-header {
  position: relative;
  background-color: #242424;
  background:
    linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
    url(./images/hacker-resized.jpg) no-repeat center center scroll;
  background-size: cover;
  flex: 1;
}

.darken-cover {
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
}

.hero-text {
  position: absolute;
  color: #eee;
  margin: 0 3vw;
  margin-top: 27vh;
  width: 420px;
}

.hero-text h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
  color: #C4C4C4;
  line-height: 52px;
  font-size: 42px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.hero-text .cta {
  margin-top: 16px;
  position: relative;
  bottom: 0;
  background: #C3C71E;
  box-shadow:
    0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 8px rgba(255, 255, 255, 0.5);
  border-radius: 6px;
  padding: 1rem 2rem;
  font-family: Lato, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  align-self: center;
}

.hero-text .cta:hover {
  bottom: 6px;
  box-shadow:
    0px 10px 8px rgba(0, 0, 0, 0.5),
    inset 0px 4px 8px rgba(255, 255, 255, 0.5);
  transition: bottom 0.2s, box-shadow 0.2s;
}